@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Work+Sans:wght@200;400;500;600;700&display=swap");

:root {
  --grey-variant-1: rgba(0, 0, 0, 0.8);
  --yellow: #fb8500;
  --white-variant-1: rgba(255, 255, 255, 0.8);
  --bg-blue: #012232;
  --white: #ffffff;
  --primary-transition: all ease .3s;
  --primary-scale: scale(1.02);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: unset;
}
h2,
p {
  margin: 0;
}
button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  display: block;
  height: 53px;
  border-radius: 10px;
}
.c-center{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.hover{
  transition: var(--primary-transition);
}
.hover:hover{
  transform: var(--primary-scale);
  transition: var(--primary-transition);
}
.c-container {
  max-width: 1400px;
  width: 100%;
  margin: auto;
  padding: 20px 30px;
}
.my-1 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.c-flex {
  display: flex;
  align-items: center;
}
.c-f-size-big {
  font-size: 100px;
}
.c-btn-pri {
  font-weight: 600;
  color: var(--white-variant-1);
  font-size: 24px;
  background-color: var(--yellow);
}
.c-btn-sec {
  font-weight: 600;
  color: var(--white-variant-1);
  background-color: var(--bg-blue);
}
.c-flex .img-wrap {
  flex: 40%;
  display: inline-flex;
}
.img-wrap img {
  width: 100%;
}
.c-text-center {
  text-align: center;
}
.img-wrap {
  position: relative;
  margin: 20px 0;
}
.pattern-img {
  overflow: hidden;
}
.absolute-img {
  position: absolute;
  top: 10%;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .no-wrap {
    white-space: nowrap;
  }
}

@media screen and (max-width: 767px) {
  section{
    overflow: hidden;
  }
  .c-flex {
    flex-wrap: wrap;
  }
  .c-f-size-big {
    font-size: 60px;
  }
}
img {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  max-width: 100%;
  height: auto;
}
.img-wrap {
  min-width: 0;
}
.text-wrap {
  flex: 60%;
}
